{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="https://www.livemint.com/">livemint</a>
          <small class="text-muted">17 March 2021</small>
        </div>
        <h2><a class="article-title" href="#">Indian Sugar Mills Rush to Sign Export Contracts as Prices Rally</a></h2>
        <p class="article-content">Indian mills have contracted to export 4.3 million tonnes of sugar so far in the 2020/21 season ending on Sept. 30, a trade body said on Wednesday, as a rally in global prices to a four-year high and an export subsidy makes overseas sales lucrative. Higher exports from the world's second biggest sugar producer could cap gains in global prices, which have been buoyed by lower production in Thailand, the world's second biggest exporter.</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="https://www.livemint.com/">livemint</a>
          <small class="text-muted">17 March 2021</small>
        </div>
        <h2><a class="article-title" href="#">India’s Food Supply Runs On Water Misuse</a></h2>
        <p class="article-content">The farmer protests near Delhi have    brought renewed attention to the agricultural practices of northern India, groundwater use in particular. A new study finds that states where groundwater reserves are at critical levels, such as Punjab, form the major source of cereals for around 76% of India's population. This puts the country's food supply in a vulnerable position.
            Francesca Harris of the London School of Hygiene and Tropical Medicine and other co-authors look at the inter-state trade of five cereals-rice, wheat, maize, millet and sorghum-in 2011-12. The majority of this trade (58%) happens through the public distribution system, and the northern region is responsible for 61% of exports to other states.
        </p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="https://www.thehindu.com/">The Hindu</a>
          <small class="text-muted">3 March 2021</small>
        </div>
        <h2><a class="article-title" href="#">Cabinet gives nod to pact between India, Fiji for Co-Operation in Agriculture Sector</a></h2>
        <p class="article-content">The Union Cabinet, chaired by Prime Minister Narendra Modi, approved the signing of a Memorandum of Understanding (MoU) between the Ministry of Agriculture of Indian government and Ministry of Agriculture of the Republic of Fiji in this regard.
            The MoU between India and Fiji provides for cooperation in various areas including promotion of joint ventures between private sectors of both countries.
            The agreement also provides for exchange of research personnel, scientific experts, specialists, and technical trainees; technology transfer; development of infrastructure for agriculture development; development of human resources through training of officers and farmers by conducting seminars and workshops.
            The two countries would also work together for promotion of investment in marketing and value addition/downstream processing of agricultural commodities.
        </p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="https://www.thehindu.com/">The Hindu</a>
          <small class="text-muted">16 March 2021</small>
        </div>
        <h2><a class="article-title" href="#">Agriculture Budget’ Exercise begins in Rajasthan</a></h2>
        <p class="article-content">The exercise for presenting a separate “agriculture budget”, with the emphasis on welfare measures for farmers, has started in Rajasthan in accordance with the announcement made by Chief Minister Ashok Gehlot in the 2021-22 State Budget. The new document will provide for innovations for the benefit of cultivators.
            Agriculture Minister Lalchand Kataria said in the State Assembly that while the agriculture budget would fulfil the dreams of farmers, the steps for providing new facilities in the farm sector would be accompanied by sufficient financial provisions. Organic farming would also be promoted in a big way, he said.
            The Assembly passed the budgetary demands worth ₹3,756 crore for the agriculture sector and ₹1,829 crore for the Animal Husbandry Department by a voice vote after the debate on the demand for grants.
        </p>
      </div>
    </article>
{% endblock content%}